# R Studio artifacts
.Rproj.user
.Rhistory
.RData
.Ruserdata
**.Renviron

# ignore data, creds, docs, env folders in the project root
data
creds
**credentials.sqlite
docs
env/

# ignore some dashboard stuff
dashboard/setup/
dashboard/metadata/

# ignore baseline TOC with Q for now (B's copy)
scratch/baseline_TOC_addQ.rmd

# mac artifacts
**.DS_Store

