.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore some folder paths
/data/
creds/
env/
KEC_Scratch/

# mac artifacts
**.DS_Store
**.Renviron
**credentials.sqlite
dashboard/setup/
dashboard/metadata/
data
docs
creds
