.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore data, creds, docs folders in the project root
data/
creds/
docs/

# Ignore baseline TOC with Q for now (B's copy)
scratch/baseline_TOC_addQ.rmd

# mac artifacts
**.DS_Store
**.Renviron
**credentials.sqlite
dashboard/setup/
dashboard/metadata/

